@font-face {
  font-family: "Blair ITC Light";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("blair-itc-light-regular.otf") format("opentype");
}

:root {
  --black: black;
  --yellow: #ffffac;
  --white: white;
}

body,
html {
  background-color: var(--black);
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

#lemon-ipsum {
  box-sizing: border-box;
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-family: "Blair ITC Light", sans-serif;
  height: 100%;
  margin: 0 auto;
  max-width: 600px;
  min-height: 100%;
  padding-top: 10em;

  h1 > :first-child {
    color: var(--yellow);
  }

  footer {
    flex-grow: 0;
    flex-shrink: 0;
    padding-bottom: 3em;
  }
}

#sentences {
  font-family: sans-serif;
  flex-grow: 1;
}
